@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <h1>Todo List</h1>
            </div>
        </div>
        <p>Lista de tareas en proyecto .NET Core con Entity Framework</p>
        <br />
        <div class="row">
            <p><a class="btn btn-primary btn-lg" href="TodosPage/NuevoTodo" role="button">Crear nuevo</a></p>
        </div>


    </div>



</div>

@foreach (var todo in Model.Todos)
{
<form method="post">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p>@todo.Id</p><p>@todo.Name</p>
                
                               <a asp-page="TodosPage/EditarTodo" class="btn btn-info" asp-route-id="@todo.Id">Editar</a>
                    <button type="submit" asp-page-handler="delete" asp-route-id="@todo.Id" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;
                    </button>
            </div>
            <div class="panel-body">
                <p>@todo.Description</p>
            </div>
        </div>
    </div>
</form>
        
   


}
