@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <h1>Todo List</h1>
            </div>
        </div>
        <p>Lista de tareas en proyecto .NET Core con Entity Framework</p>
        <br />
        <div class="row">
            <p><a class="btn btn-primary btn-lg" href="TodosPage/NuevoTodo" role="button">Crear nuevo</a></p>
        </div>


    </div>



</div>

@foreach (var todo in Model.Todos)
{
    <form method="post">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                        @todo.Id: @todo.Name
                    </h3>
                    <div class="btn-group pull-right">
                        <a asp-page="TodosPage/EditarTodo" class="btn btn-xs btn-info" asp-route-id="@todo.Id"><span class="glyphicon glyphicon-edit"></span>&nbsp;</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@todo.Id" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    
                        <p>@todo.Description</p>
                    <hr />
                    <div class="form-group">
                        <p class="text-muted">Tarea creada el día: </p> <p>@todo.CreatedAt</p>
                        <hr />
                        <p class="text-muted">Tarea programada para el día: </p> <p>@todo.ToDoDay</p>
                    </div>
                        

                </div>
            </div>
        </div>
    </form>



}
